button.hidden {visibility:hidden;}

* {
    font-family: sans-serif;
}

div.zoomedPart {
    zoom: 0.65;
    -ms-zoom: 0.65;
    -o-zoom: 0.65;
    -webkit-zoom: 0.65;
}

div.hidden { visibility: hidden }

.nvgt{
	position: absolute;
	top: 50px;
	height: 30px;
	width: 15px;
	opacity: 0.6;
}

.nvgt:hover{
	opacity: 0.9;
}

#prev{
	background: #000 url('../imgs/prev.png') no-repeat center;
	left: 0px;
}

#next{
	background: #000 url('../imgs/next.png') no-repeat center;
	right: 0px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
